/* Media Query
*/

@media screen and (min-width:800px) and (max-width:900px){
    .form-control, label{
        width: 100px;
        margin-left: -283px;
        width:240px;
        display: flex;  
        align-items: center;
    }
}



@media screen and (max-width:800px){
    .artA{
        width: 314px!important;
        height: 235px;
        margin-left: -90px;
        margin-bottom: -82px;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .navbar-toggler{
       background-image: url('images/open-menu.svg');
       width:10px;
    }
    .form-control, label{
        width: 100px;
        margin-left: -283px;
        width:240px;
        display: flex;  
        align-items: center;
    }
}

@media screen and (max-width:500px){


        .form-control, label{
            width: 100px;
            margin-left: -283px;
            width:240px;
            display: flex;  
            align-items: center;
        }
        .img{
            top:80px;
        }
    
}