body{
    font-family: 'Oswald', sans-serif;
}

.navbar{
    background-color: #cf6d8f;
    color: #fdfdfd;
    font-weight: bold;
}

.input-group{
    margin-bottom: 1rem!important;
    width: 314px;
   
    margin-top: 10px;
    margin-left: 921;
}

.logo{
    margin-left:67px ;
}

.imagePosition{
    position: relative;
    
}

.img{
    margin-top:-83px;
    top:100px;
    position: relative;
    margin-bottom: -440px;
}

h2{
    font-size:22px;
    font-weight: bold;
}

h5{
    font-size: 22px;
    color: white!important;
}

h6{
    color:#fdfdfd;
    font-size:22px;
    margin:11px;
    
}
h6:hover{
    cursor:pointer;
    color:yellow;
}

p{
    font-size: 22px;
}


/*
*
* Animação da seta
*/

.bi-chevron-double-down{
    animation: bounce 2s normal forwards ease-in-out;
    animation-iteration-count: infinite;

}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/*
*
 Primeiro quadro*/

.bgFirst{
    background-image: url('/images/a687569e5162dd53d19c5faf2d398e12.jpg');
    object-fit: cover;
    width:100px;
    background-position: center;


} 

/***/
.download{
    
    background-color: #333333;
}

.arteCliente{
    /* cursor:pointer;
    box-shadow:3px 0px 6px 1px grey;
    transition:all 0.5s; */
    width:100%;
    border-radius:10px; 
    
}


.arteCliente:hover{
    /* box-shadow:none;
    transition:all 0.5s; */
}

.form{
    margin-top: 16px;
    margin-left: 314px;
    margin-right: 311px;
    margin-bottom:50px;
}


/*
** BUtton
*/

.btn{
    height: 30px;
    width: 200px;
    background-color: #CB70FA;
    text-align: center; 
    align-items: center;
    padding-bottom: 3px;
    box-shadow: 3px 4px 7px 1px #CB70FA;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn:hover{
    box-shadow: none;
}

.btn .btnFd{
   box-shadow:3px 4px 7px 0px #F7B386"
}
.btn .btnFd:hover{
    box-shadow: none;
}


.navbar-toggler{
    color:white;
}

/*Footer
*/ 

footer{
    background-color: #cf6d8f ; 
    padding:50px ;
}


 /* Media Query
*/

@media screen and (max-width:700px){
    .artA{
        width: 73vw!important;
        height: 48vh;
        margin-left: -78px; 
        margin-bottom: -82px;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .form-group{
        width:30%;
    }
}

@media screen and (max-width:500px){

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .form-group{
        width:30%;
    }
}
